<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <div class="parent">
      <header class="section-coral">
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </header>
      <div class="left-side section blue"></div>
      <main class="section green"></main>
      <div class="right-side section yellow"></div>
      <footer class="section coral"></footer>
    </div>

    <!-- <div class="box">
    <main>
      <h2>The best digital flashcards to help you ace your exam</h2> 
      <p> Join over 60 million students using Flashcard Buddy to improve their grades and reach their goals</p>
      <div>
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
    </div>
    </main> -->
  </body>
</html>
