<h1>Create A New Flashcard</h1>
<form action="/flashcards" method="post">
  <input type="text" name="term" placeholder="term" />
  <input type="text" name="definition" placeholder="definition" />
  <input type="submit" value="Create New Flashcard" />
</form>
