<h1><%= flashcard.term %></h1>
<h2>definition: <%= flashcard.definition %></h2>

<form action="/flashcards/<%=flashcard._id %>?_method=DELETE" method="post">
  <input type="submit" value="delete" />
</form>

<a href="/flashcards/<%= flashcard._id%>/edit"> <button>Update</button> </a>

<a href="/flashcards"><h4>Back To Main Page</h4></a>
