<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <div class="login">
      <%- include("../partials/header.ejs") %>
      <main>
        <div>
          <form action="/user/login" method="post">
            <fieldset>
              <legend style="color: white">User Login</legend>
              <label style="color: white"
                >USERNAME: <input type="text" name="username" required />
              </label>
              <label style="color: white"
                >PASSWORD: <input type="password" name="password" required />
              </label>
              <input type="submit" value="Login" class="button" />
            </fieldset>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
