<%- include("../partials/head.ejs") %>

<body>
  <div class="login">
    <%- include("../partials/header.ejs") %>

    <form action="/user/signup" method="POST">
      <fieldset>
        <legend style="color: white">>New User</legend>
        <label style="color: white"
          >USERNAME: <input type="text" name="username" required />
        </label>
        <label style="color: white"
          >PASSWORD: <input type="password" name="password" required />
        </label>
        <input type="submit" value="Create Account" class="button" />
      </fieldset>
    </form>
  </div>
</body>
